<template>
  <q-page>
    <landing />
  </q-page>
</template>

<script>
import landing from 'src/components/landing'

export default {
  name: 'PageIndex',
  components: {
    landing
  }
}
</script>
