<template>
  <div class="diana-content-section">
    <row />
  </div>
</template>

<script>
import row from './components/row'

export default {
  // name: 'ComponentName',
  components: {
    row
  },
  data () {
    return {}
  }
}
</script>
