<template>
  <div class="landing-page">
    <greySection />
    <imgSection />
    <div class="overflow-landing"></div>
    <contentSection />
  </div>
</template>

<script>
import greySection from './greySection'
import imgSection from './imgSection'
import contentSection from './contentSection'

export default {
  // name: 'ComponentName',
  components: {
    greySection,
    imgSection,
    contentSection
  },
  data () {
    return {}
  }
}
</script>
