// app global css in Sass form
@font-face
  font-family: 'CAVIARDREAMS-BOLD'
  src: url('/font/caviardreams-bold.ttf')

@font-face
  font-family: 'CAVIARDREAMS'
  src: url('/font/caviardreams.ttf')

.q-field__control
  height: 30px !important
  min-height: 30px !important
  .q-field__marginal
  height: 30px !important

.q-field--auto-height.q-field--dense.q-field--labeled 
  .q-field__native
    min-height: 30px !important

.q-field--dense
  .q-field__label
    font-size: 14px !important
    top: 5px !important

.font-15
  font-size: 15px

.diana-page
  width: 100%
  height: 100vh
  position: relative

.diana-grey-section
  background: $secondary
  position: absolute
  width: 25%
  height: 100vh
  @media (max-width: 760px)
    width: 50%

.diana-img-section
  position: absolute
  left: 14%
  height: 100vh
  width: 50vh
  background-image: url('/images/diana.png')
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 990px)
    width: 40%
    left: 7%
  @media (max-width: 760px)
    width: 90%
    left: 10%

.diana-content-section
  position: absolute
  z-index: 2
  top: 0px
  left: 0px
  width: 100%
  img
    width: 240px
    @media (max-width: 760px)
      width: 200px
  .wrapper
    width: 80%
    height: 100vh
    margin: 0px auto
    @media (max-width: 760px)
      width: 90%

.diana-content-section-title
  .title
    font-family: CAVIARDREAMS-BOLD

br
  @media (max-width: 760px)
    display: none

.text-h3
  font-size: 3.5rem !important
  line-height: 4rem
  @media (max-width: 960px)
    font-size: 2.4rem !important
    line-height: 3rem

.overflow-landing
  height: 100vh
  width: 100%
  position: absolute
  z-index: 2
  top: 0px
  @media (max-width: 960px)
    background-color: #0000009c

.mobile-white
  @media (max-width: 960px)
    color: white !important
