<template>
  <div class="diana-content-section-title text-center" style="margin-top">
    <h1 class="title text-h3 text-primary">
      WE CREATE <br> UNIQUE SMILES
    </h1>
    <p style="margin-top: -20px" class="font-15 text-dark mobile-white">Because we are all different, every smile that we create <br> we make it as unique as you.</p>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
