<template>
  <q-form @submit="sendService">
    <div class="row full-width q-pa-sm">
      <div class="col-12 q-mt-md">
        <q-input required rounded outlined placeholder="Nombre" v-model="service.name" dense flat bg-color="accent" />
      </div>
      <div class="col-12 q-mt-md">
        <q-input required rounded outlined placeholder="Teléfono" v-model="service.phone" dense flat bg-color="accent" />
      </div>
      <div class="col-12 q-mt-md">
        <q-input required rounded outlined placeholder="Ciudad" v-model="service.city" dense flat bg-color="accent" />
      </div>
      <div class="col-12 q-mt-md">
        <q-input required rounded outlined placeholder="Correo electrónico" v-model="service.email" dense flat bg-color="accent" />
      </div>
      <div class="col-12 q-mt-md">
        <q-select options-dense style="20px" rounded bg-color="accent" outlined dense flat v-model="service.service" :options="servicesList" label="Procedimiento" />
      </div>
      <div class="col-12 q-mt-md">
        <q-btn :disabled="!service.name || !service.phone || !service.city || !service.email || !service.service" :loading="loading" type="submit" dense rounded outline label="enviar" color="primary" class="full-width" size="12px" />
      </div>
    </div>
  </q-form>
</template>

<script>
import { sendService } from 'src/api/send'

export default {
  // name: 'ComponentName',
  data () {
    return {
      service: {},
      servicesList: [
        'Diseño de sonrisa',
        'Mini diseño',
        'Fase hígienica',
        'Cirugías',
        'Ortodoncia',
        'Lentes cerámicos',
        'Aclaramiento',
        'Limpieza'
      ],
      loading: false
    }
  },
  methods: {
    sendService () {
      this.loading = true
      return sendService(this.service, (response) => {
        this.loading = false
        this.service = {}
        this.$notify('positive', 'Se ha enviado tu solicitud', 'green-9')
      }, (err) => {
        this.loading = false
        this.$notify('negative', err.message, 'red-9')
      })
    }
  }
}
</script>
