<template>
  <div class="full-width">
    <center><img src="images/logo.png" /></center>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
