<template>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-12"></div>
    <div class="col-md-8 col-sm-8 col-12">
      <div class="wrapper flex flex-center">
        <div class="row full-width flex flex-center">
          <div class="col-12">
            <headerContent />
          </div>
          <div class="col-12" style="margin-top: -20px">
            <banner />
          </div>
          <div class="col-12 col-md-7" style="margin-top: -25px">
            <formService />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import headerContent from './header'
import banner from './banner'
import formService from './form'

export default {
  // name: 'ComponentName',
  components: {
    headerContent,
    banner,
    formService
  },
  data () {
    return {}
  }
}
</script>
